<h1>New Entry</h1>
<% if flash[:duplicate] %>
	<div class="notice"><%= flash.now[:duplicate] %></div>
<% end %>
<%= render partial: 'form' %><br>

<%= button_to 'Home!', user_path(@user), id: 'entries-links', :method => 'get' %>