<h1>New Bar</h1>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= render partial: 'form' %><br>

<%= button_to 'Home!', user_path(@user), id: 'new-bar-home', :method => 'get' %>

