<% if flash[:duplicate] %>
	<div class="notice"><%= flash[:duplicate] %></div>
<% end %>

<%= render partial: 'form' %><br>

<%= button_to 'Home!', user_path(@user), id: 'new-bar-home', :method => 'get' %>

