<% if flash.now[:duplicate] %>
	<div class="notice"><h4 class='flash'><%= flash.now[:duplicate] %></h4></div>
<% end %>

<%= render partial: 'form' %><br>

<%= button_to 'Home!', user_path(@user), id: 'new-bar-home', :method => 'get' %>

