<h2 class='title'>Bar Tab</h2>

<div class='index-links'>
<%= button_to 'Add Bar', new_user_bar_path(@user), id: 'show-links', :method => 'get' %>
<%= button_to 'Saved Bars', user_bars_path(@user.id), id: 'show-links', :method => 'get' %>
</div>