body{
	background-color: black;
	z-index: 1;
}
@media only screen and (max-width: 750px) {
	body{
		text-align: center;
		background-color: papayawhip;
	}

	.actions{
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.index-links{
		margin-top: 3em;
	}

	ul{
		padding: 0;
		list-style-type: none
	}

	#bar-name-id{
		width: 12em;
		height: 3em;
		font-size: 1.35em;
		border: 1px solid black;
	}

	#entry-name-id{
		width: 10em;
		height: 2.5em;
		font-size: 1.35em;
		border: 1px solid black;		
	}

	#body_main{
		padding: 4em;
		border: 1px solid black;
	}
}